.home-container {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  .category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 20px;
    justify-content: center;
  }
  .category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 20px;
    transition: background-color 0.3s ease;
  }
  .category-item:hover {
    background-color: #e0e0e0;
  }
  mat-icon {
    font-size: 48px;
    height: 48px;
    width: 48px;
    margin-bottom: 10px;
  }