 <div class="example-button-row">
    <div class="example-flex-container">
        <div class="example-button-container">
            <a mat-fab extended routerLink="/">
              <mat-icon>home</mat-icon>
             Home
            </a>
          </div>
      <div class="example-button-container">
        <button mat-fab extended disabled>
          <mat-icon>favorite</mat-icon>
          Disabled
        </button>
      </div>
      <div class="example-button-container">
        <a mat-fab extended routerLink=".">
          <mat-icon>favorite</mat-icon>
          Menu
        </a>
      </div>
    </div>